:root {
    // ---------------- colors ----------------
	// --color-primary: ;
	// --color-secondary: ;
	// --color-accent: ;

	--color-text: black;
	--color-bg: white;

	// --color-light: ;
	// --color-tint: ;
	// --color-dark: ;


	// ---------------- typography ----------------
	--font-primary: "Montserrat";
	// --font-secondary: ;

	// --font-serif: ;
	// --font-sans-serif: ;
	// --font-monospace: ;
	// --font-script: ;
	// --font-display: ;

	// ---------------- UI ----------------
	--focus-fx-stroke: 2px;
	--focus-fx-offset: -8px;
	--focus-fx-color: var(--color-text);
	--focus-fx-alignX: 50%;

	--header-logo-height: 45px;
	--header-padding-block: 20px;

	
	// ---------------- layout ----------------
	// 280px
	// 320px
	// 375px
	// 480px
	// 768px
	// 1024px
	// 1280px
	// 1440px
}