@use "../global/index" as *;

header {
	// ------------ variables ------------
	--padding: 20px 0;

	--logo-size: 75px;

	--icon-size: #{rem(22.5px)};

	--gap-nav: 1.25rem;
	--gap-icon: 1.5rem;

	--transition-duration-on: 250ms;
	--transition-duration-off: calc(var(--transition-duration-on) * 2);

	// ------------ styles ------------
	padding: var(--padding);
	@include flex(space-between);

	> * {
		flex: 1 1 0;
	}

	> nav {
		@include flex(space-evenly);
		gap: var(--gap-nav);
	}

	> .share-search {
		@include flex(flex-end);
		gap: var(--gap-icon);

		button {
			cursor: pointer;
		}
	}

	form.search {
		gap: var(--gap-icon);

		> input.text {
			padding: 5px 0;
		}
	}
}

#logo-header {
	svg {
		--scale-hover: 1.1;
		width: var(--logo-size);
		transition: scale var(--transition-duration-off) ease;

		&:hover {
			scale: var(--scale-hover);
			transition: scale var(--transition-duration-on) ease;
		}
	}
}

header .icon-header {
	@include square(var(--icon-size));
}