@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat/Montserrat-Variable.ttf") format("truetype-variations");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat/Montserrat-Italic-Variable.ttf") format("truetype-variations");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}
:root {
  --color-text: black;
  --color-bg: white;
  --font-primary: "Montserrat";
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

header > nav > a {
  --font-size: 1rem;
  --font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: 1px;
  position: relative;
}
header > nav > a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  translate: -50% 0;
  width: 0%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-text);
  transition: width var(--transition-duration-off) ease;
}
header > nav > a:hover::before {
  width: 100%;
  transition: width var(--transition-duration-on) ease;
}

input.text {
  outline: 0;
}

span.hg-text {
  position: relative;
}
span.hg-text::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width var(--transition-duration-off) ease;
}
span.hg-text:hover::before {
  width: 100%;
  transition: width var(--transition-duration-on) ease;
}

.container-main {
  width: min(1440px, 90%);
  margin: 0 auto;
}

.no-form {
  border: 0;
  background-color: transparent;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  --padding: 20px 0;
  --logo-size: 75px;
  --icon-size: 1.40625rem;
  --gap-nav: 1.25rem;
  --gap-icon: 1.5rem;
  --transition-duration-on: 250ms;
  --transition-duration-off: calc(var(--transition-duration-on) * 2);
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > * {
  flex: 1 1 0;
}
header > nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--gap-nav);
}
header > .share-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-icon);
}
header > .share-search button {
  cursor: pointer;
}
header form.search {
  gap: var(--gap-icon);
}
header form.search > input.text {
  padding: 5px 0;
}

#logo-header svg {
  --scale-hover: 1.1;
  width: var(--logo-size);
  transition: scale var(--transition-duration-off) ease;
}
#logo-header svg:hover {
  scale: var(--scale-hover);
  transition: scale var(--transition-duration-on) ease;
}

header .icon-header {
  width: var(--icon-size);
  height: var(--icon-size);
}
